.searchBar {
  position: sticky;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-gray);
}

.searchInput {
  width: 100%;
  padding: 12px 48px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  background: none;
  font-size: 18px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  aspect-ratio: 1/1;
  pointer-events: none;
}
