.card {
  padding: 8px clamp(16px, 3vw, 32px);
  border: 1px solid black;
  border-radius: 32px;
  will-change: transform;
  transform-origin: center center;
  backface-visibility: hidden;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-hover);
  }
}

.active {
  color: white;
  background-color: black;
}
