* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

button {
  background: none;
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

&::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
