.registerContainer {
  padding: 110px 0px;
}

.formInner {
  padding: 20px;
}

legend {
  font-size: 20px;
}

.nextButton {
  padding: 8px clamp(16px, 3vw, 32px);
  margin-top: 16px;
  border: 1px solid black;
  border-radius: 32px;
  font-size: 24px;
  will-change: transform;
  transform-origin: center center;
  backface-visibility: hidden;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in;

  &:hover {
    transform: translateY(-1px);
    box-shadow: var(--box-shadow-hover);
  }
}
